<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <meta charset="utf-8">
</head>

<body>
<h1>{{pageTitle}}</h1>
<p>Welcome to the Home Page</p>
{{> header}}
{{> footer}}

</body>

</html>